* {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: "Inter", sans-serif;
  font-weight: 20rem;
  font-size: 2rem;
  line-height: 0.5rem;
}

body {
  display:flex;
  height: 100vh;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-start; /* Alterado para alinhar o logo à esquerda */
  align-items: center;
  height: 0.9rem;
  padding-left: 1rem; /* Adicionado espaçamento à esquerda */
  background-color: #e5e5e5;
}
/* Estilos padrão para o elemento main */
main {
  width: 80%; /* Define a largura padrão */
}

.logoAlura {
  width: 2em;
  height: auto;
  margin-top: 0.8em;
  margin-right: 1em;
}

.conteiner__esquerdo{
  width: 60%;
  float: left;
  padding: 1.2em;
  box-sizing: border-box;
}
.container__direito {
  width: 40%;
  float: right;
  padding:1.2em;
  box-sizing: border-box;
}

.container__esquerdo {
  display: flex;
  align-items: flex-end; /* Alinha os filhos na parte inferior */
  flex-direction:row;
  
}

.conteiner-esquerdo__text-area{
  margin-top: 14%;
  text-align: center; /* Alinha o texto à esquerda */
}
.text-area{
  width: 10em;
  height: 1.4em;
  font-size: 0.8em;
  line-height: 0.9em; /* Definir line-height igual à altura do botão */
  margin-left:-50%; /* Mover um pouco mais para a esquerda */
}

.conteiner-esquerdo__informacao {
  display: flex; /* Utilize flexbox para alinhar os elementos filhos */
  position: relative;
  align-items: center; /* Alinha os filhos na parte inferior */
  height: 2.8em; /* Defina uma altura para o contêiner */
  margin-top: 16%; /* Espaçamento superior */
  margin-left: -20%; /* Mover um pouco mais para a esquerda */}
  

.informacao__iconeExclamacao {
  width: auto;
  height: auto;
  margin-left: 5px; /* Mover os elementos um pouco para a direita */
}

.aparencia__textoInformacao {
  opacity: 0.8;
  font-size: 0.3em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #495057;
  margin-top:4%;
  margin-left: 0.6em; /* Mover os elementos um pouco para a direita */
  z-index : 1;
  
}



.container__esquerdoBotoes {
  display: flex;
  position: relative;
  align-self: flex-start; /* Alinha o filho à esquerda do pai */
  margin-top:-9%;
  margin-left: -20%; /* Mover um pouco mais para a esquerda */
  z-index : 2;
}

.btn-encriptar {
  width: 13.9em; /* Largura ajustada para ser proporcional */
  height: 3.5em; /* Altura ajustada para ser proporcional */
  margin-right: 1em; /* Espaçamento entre os botões */
  border-radius: 0.6em; /* Ajuste do raio do border-radius */
  color: white;
  background-color: #0A3871;
  cursor: pointer;
  transition: 0.5s;
  line-height: 3em; /* Definir line-height igual à altura do botão */
  font-size: 0.29em; /* Ajustar o tamanho da fonte conforme necessário */
}

.btn-encriptar:hover {
  transform: scale(0.9); /* Ajuste da escala no hover */
}

.btn-desencriptar {
  width: 13.9em; /* Largura ajustada para ser proporcional */
  height: 3.5em; /* Altura ajustada para ser proporcional */
  border-radius: 0.6em; /* Ajuste do raio do border-radius */
  border-color: #0A3871;
  color: #0A3871;
  background-color: #D8DFE8;
  cursor: pointer;
  transition: 0.5s;
  line-height: 3em; /* Definir line-height igual à altura do botão */
  font-size: 0.29em; /* Ajustar o tamanho da fonte conforme necessário */
}

.btn-desencriptar:hover {
  transform: scale(0.9); /* Ajuste da escala no hover */
}

.conteiner__direito{
  display: flex;
  flex-direction: column; /* Empilha os elementos verticalmente */
  justify-content: flex-start; /* Alinha o retângulo no topo */
  align-items: flex-end; /* Alinha o retângulo à direita */
  margin-top:0.9% ;
 
}

.conteiner__direitoRetangulo {
    width: 5.6em; /* largura do retângulo em em */
    height: 8em; /* altura do retângulo em em */
    background-color: #FFFFFF; /* cor de fundo */
    border: 0.1em solid #000000; /* borda sólida preta de 0.125 em */
    border-radius: 8%;
    z-index:4
  }
  
.meninoLupa{
  width: 5.6em;
  height: auto;
  background-color: #FFFFFF;
  border-radius:8%;
  z-index: index 3;
}

.mensagem{
  width: 22%;
  height:8%;
  text-align: center; /* Alinhar o texto no centro */
  padding: 0.6em;
  box-sizing: border-box; /* Incluir o preenchimento no cálculo da largura */
  position:absolute;
  left: 73%; /* Alinha o elemento no meio horizontalmente */
  bottom: 39%; /* Ajusta a distância do elemento em relação ao fundo do retângulo */
  transform: translateX(-50%); /* Move o elemento de volta para o centro */
  transition: 0.5s;
  line-height: 8%; /* Define a altura da linha para o texto */
  font-size: 0.28em; /* Ajustar o tamanho da fonte conforme necessário */
  z-index: index 3;
}
  .btn-limpar{
    width: 10em; /* Largura ajustada para ser proporcional */
    height: 3em; /* Altura ajustada para ser proporcional */
    border-radius: 0.6em; /* Ajuste do raio do border-radius */
    border-color: #0A3871;
    color: #0A3871;
    background-color: #D8DFE8;
    position:absolute;
    left: 73%; /* Alinha o elemento no meio horizontalmente */
    bottom: 27%; /* Ajusta a distância do elemento em relação ao fundo do retângulo */
    transform: translateX(-50%); /* Move o elemento de volta para o centro */
    cursor: pointer;
    line-height: 3em; /* Definir line-height igual à altura do botão */
    font-size: 0.29em; /* Ajustar o tamanho da fonte conforme necessário */
    z-index: index 3;
  }
  .btn-copiar{
    width: 10em; /* Largura ajustada para ser proporcional */
    height: 3em; /* Altura ajustada para ser proporcional */
    border-radius: 0.6em; /* Ajuste do raio do border-radius */
    border-color: #0A3871;
    color: #0A3871;
    background-color: #D8DFE8;
    position:absolute;
    left: 73%; /* Alinha o elemento no meio horizontalmente */
    bottom: 16%; /* Ajusta a distância do elemento em relação ao fundo do retângulo */
    transform: translateX(-50%); /* Move o elemento de volta para o centro */
    cursor: pointer;
    line-height: 3em; /* Definir line-height igual à altura do botão */
    font-size: 0.29em; /* Ajustar o tamanho da fonte conforme necessário */
    z-index: index 3;
  }

  .rodape {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    color: blue;
    text-align: center;
    padding: 0.1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  
  .rodape_inf p {
    font-size: 0.2em; /* Defina o tamanho de fonte desejado */
    margin: 2em 0;
    
    
  }
  
  .rodape__horario{
    display: flex;
    justify-content: left; /* Alinha os itens ao centro horizontalmente */
    color: blue;
    text-align: center;
    font-size: 0.19em; /* Defina o tamanho de fonte desejado */
    padding: 0.1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }




/* Responsividade */

@media only screen and (min-width: 64rem) {
  /* Estilos para telas grandes */
  body {
    box-sizing: border-box;
  }
}

@media only screen and (max-width:480px) {

  body{

   .logoAlura {
  width: 100%;
  height: auto;
  margin-top: 40%;
  margin-right: 100%;
    }

    .conteiner__esquerdo {
      width: 100%; /* Altera a largura do contêiner para ocupar toda a largura da tela */
    }

    .conteiner-esquerdo__text-area{
      margin-top:-45%;
      
    }

    .text-area{
      width: 18em;
      height: 1.8em;
      font-size: 0.24em;
      line-height: 1.8em; /* Definir line-height igual à altura do botão */
      margin-top:35% ;
      margin-left:-66%; 
      text-align:center; /* Alinha o texto à esquerda */
    }

    .conteiner-esquerdo__informacao {
      display: flex; /* Utilize flexbox para alinhar os elementos filhos */
      position: relative;
      align-items: center; /* Alinha os filhos na parte inferior */
      height: 1.8em; /* Defina uma altura para o contêiner */
      margin-top: 2%; /* Espaçamento superior */
      margin-left: -78%; /* Mover um pouco mais para a esquerda */
    }

    .aparencia__textoInformacao{
      font-size: 0.1em;
    }

    .container__esquerdoBotoes {
      margin-top:-9%;
      margin-left: -62%; /* Mover um pouco mais para a esquerda */
    }

    .btn-encriptar {
      width: 8.5em; /* Largura ajustada para ser proporcional */
      height: 3em; /* Altura ajustada para ser proporcional */
      margin-right: 0.3em; /* Espaçamento entre os botões */
      border-radius: 0.5em; /* Ajuste do raio do border-radius */
      line-height: 3em; /* Definir line-height igual à altura do botão */
    }

    .btn-desencriptar{
      width: 8.5em; /* Largura ajustada para ser proporcional */
      height: 3em; /* Altura ajustada para ser proporcional */
      margin-right: 0.3em; /* Espaçamento entre os botões */
      border-radius: 0.5em; /* Ajuste do raio do border-radius */
      line-height: 3em; /* Definir line-height igual à altura do botão */
    }

    .conteiner__direito {
      width: 100%; /* Altera a largura do contêiner para ocupar toda a largura da tela */
      
    }

    .conteiner__direitoRetangulo {
      width: 3.8em;
      height:6em ;
      margin-top:-5%;
      margin-left: 30%;
      margin-bottom:25%;
      margin-right: 20%;
      z-index:4;
      
  }
   .meninoLupa{
    width: 100%;
    height:55% ;
    z-index:3;
  }
     .mensagem{
      width: 54%;
      height:6%;
      left:51%;
      margin-bottom:-29% ;
      font-size: 0.2em;
      z-index:2;
    }
     .btn-limpar{
      width: 26%;
      height:6%;
      margin-left:-21%;
      margin-bottom:-19.5%;
      line-height:6%;
      z-index:1;
    }

     .btn-copiar{
      width: 26%;
      height:6%;
      margin-top: 0.5%;
      margin-left:-21%;
      margin-bottom:-13%;
      line-height:2%;
      z-index:1;
    }
    .rodape_inf p {
      font-size: 0.9em; /* Defina o tamanho de fonte desejado*/
      line-height: 1em;
    }
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body{
   
  main {
    width: 70%; /* Reduz a largura do elemento main para tablets */
  }

  .conteiner__esquerdo {
    width: 40%; /* Reduz a largura do conteiner esquerdo para tablets */

  }

  .conteiner__direito {
    width: 60%; /* Reduz a largura do conteiner direito para tablets */
  }
}
}


@media only screen and (min-width: 1024px){
  /* Estilos para telas grandes */
  body {
    main {
      width: 70%; 
    }
}
}